:root {
  /* Color */
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
  --boxShadow: 0 0 1.5rem var(--neonGreen);
  --subtleShadow: 0 0 .5rem var(--neonGreen);
  /* Font */
  --standardFontSize: 1.6rem;
  --quoteFontSize: 2.8rem;
  --mainFontFamily: 'Manrope', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--mainFontFamily);
}

body {
  background-color: var(--darkBlue);
  color: var(--lightCyan);
  font-size: var(--quoteFontSize);
  font-weight: 800;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

/* Search Form */
.form {
  width: min(90vmin, 60rem);
}

.form-control {
  position: relative;
  display: flex;
  background-color: var(--darkGrayishBlue);
  font-weight: 700;
  border-radius: 1.3rem;
}

.form-control > * {
  border: none;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: .2rem;
}

.form-control > *:focus {
  outline: none;
}

.form-control input {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: var(--standardFontSize);
  color: var(--lightCyan);
  padding-inline-start: 2rem;
  padding-block: 1.3rem;
  border-radius: 1.5rem;
}

.form-control button {
  position: absolute;
  background-color: var(--neonGreen);
  right: 0;
  top: 0;
  color: hsl(218, 23%, 16%);
  padding: 1.5rem;
  border-start-end-radius: 1.5rem;
  border-end-end-radius: 1.5rem;
  cursor: pointer;
}

/* Answer Card */
.card {
  position: relative;
  background-color: var(--darkGrayishBlue);
  width: min(90vmin, 60rem);
  padding: 2rem 3rem;
  border-radius: 1.5rem;
}

.numDisplay {
  color: var(--neonGreen);
  font-size: var(--standardFontSize);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .4rem;
  margin-block: 2.1rem;
}

.quoteCtnr {
  position: relative;
}

picture img {
  margin-block: 3rem;
}

/* Dice Components */
.dice {
  background-color: var(--neonGreen);
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
}

.dice img {
  transform: translateY(calc(50% - .25rem));
}

.spinDice {
  position: absolute;
  inset: calc(50% - 2.7rem) calc(50% - 2.6rem);
  display: none;
  animation: spin .6s ease-in-out infinite normal;
}

.getDice {
  position: absolute;
  inset: calc(100% - 2.7rem) calc(50% - 2.6rem);
  cursor: pointer;
}

/* Hover & Focus States */
.form-control > *:focus {
  outline: none;
}
.form-control input:focus {
  box-shadow: var(--subtleShadow);
}

.getDice:hover, .getDice:focus, button:hover, button:focus {
  box-shadow: var(--boxShadow);
}

/* a11y */
.a11y {
  position: absolute;
  left: -10000px;
}

/* Loading Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}